<?xml version="1.0"?>
 
<configuration>
    <location path="dialog.html">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Cross-Origin-Opener-Policy" value="unsafe-none" />
                </customHeaders>
            </httpProtocol>
            <staticContent>
                <clientCache cacheControlMode="DisableCache" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
 